{% extends 'layout.html' %}

{% block content %}
        <section class="header">
            <h1>Thomas Thelen</h1>
            <p>Backend Developer</p>
            <img src="/static/images/legos.jpeg" alt="lego construct trucks">
        </section>
        <section id="about-page">
            <h2>About Me</h2>
            <p>
                Aside from backend develoment I enjoy a variety of activities. Currently my favorite pasttime is building LEGO sets with my son, Pippin, named for Peregrin Took. It's a safe assumption that I have at least one unfinished woodworking project. I also enjoy reading anything from 19th century German philosophy to comic books. 
            </p>
            <!-- <a href="#"><i class="far fa-file"></i>Resume</a> -->
        </section>
{% endblock %}