{% extends 'layout.html' %}

{% block content %}
        
        <section class="header">
            <h1>Thomas Thelen</h1>
            <p>I love the elegant simplicity of Python</p>
            <img src="/static/images/Thomas_and_Pippin.jpeg" alt="Headshot of myself">
        </section>
        <section id="about">
            <h2><u>About Me:</u></h2>
            <p>
                Former dirtbag climber turned Dad and Python Web Developer. Lifelong learner, Star Wars expert, Flask aficionado, SQLAlchemist. Occasionally I have a mustache.
            </p>
        </section>
        <section id="skills">
            <i class="fa-brands fa-python"></i>
            <h2><u>Skills:</u></h2>
            <ul>
                <li>* Python</li>
                <li>* Flask</li>
                <li>* SQLAlchemy</li>
                <li>* Git</li>
                <li>* GitHub</li>
                <li>* Flask-SQLAlchemy</li>
                <li>* Visual Studio Code</li>
                <li>* Agile Methodology</li>
            </ul>
        </section>
        <section id="projects">
            <i class="fas fa-code-branch"></i>
            <h2><u>Projects:</u></h2>
            <div id="project-list">
                {% for project in projects %}
                    <div id="project{{ project.id }}" class="a-project">
                        <a href="{{ url_for('detail', id=project.id )}}"><h3>{{ project.title }}</h3>
                        <a href="{{ project.github }}" class="github-btn">
                            <i class="fab fa-github"></i>
                            View on GitHub
                        </a>
                        <p>{{ project.description }}</p>
                        <p>{{ project.skills }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
        
{% endblock %}   