{% extends 'layout.html' %}

{% block content %}
        
        <section class="header">
            <h1>Thomas Thelen</h1>
            <p>I love the elegant simplicity of Python.</p>
            <img src="/static/images/profile-pic.png" alt="Headshot of myself">
        </section>
        <section id="about">
            <h2><u>About Me:</u></h2>
            <p>
                Former <a href="https://www.urbandictionary.com/define.php?term=dirtbag" target="_blank" >dirtbag</a> climber turned Dad and Backend Developer. Lifelong learner, Star Wars expert, Flask aficionado, SQLAlchemist. Occasionally, I have a mustache.
            </p>
        </section>
        <section id="skills">
            <i class="fas fa-code-commit"></i>
            <h2><u>Skills:</u></h2>
            <ul>
                <li>* Python</li>
                <li>* Flask</li>
                <li>* SQLAlchemy</li>
                <li>* Git</li>
                <li>* AWS Elastic Beanstalk</li>
                <li>* Agile Methodology</li>
            </ul>
        </section>
        <section id="projects">
            <i class="fas fa-code-branch"></i>
            <h2><u>Treehouse Projects:</u></h2>
            <div id="project-list">
                    <div id=""class="a-project">
                        <h3>Number Guessing Game</h3>
                        <a href="https://github.com/thamasmorethelen/TreeHouse_Python_Project_1" target="_blank" class="github-btn">
                            <i class="fab fa-github"></i>
                            View on GitHub
                        </a>
                        <p>The Number Guessing Game is a straightforward console based game. The program generates a random number within a given range. The program gives the user appropriate feedback, either too high or too low. When the user correctly guesses the number, they are prompted with the option to play again.</p>
                    </div>
                    <div id="project2"class="a-project">
                        <h3>Basketball Statistic</h3>
                        <a href="https://github.com/thamasmorethelen/Treehouse-TechDegree-Python-Project-2" target="_blank" class="github-btn">
                            <i class="fab fa-github"></i>
                            View on GitHub
                        </a>
                        <p>A console based basketball team statistics tool. The user is prompted with a menu. They can choose to view statistics or quit the program. If they choose to view statistics they are asked which team they would like to view. The user can then either enter "quit" or press enter to continue.</p>
                    </div>
                    <div id="project3"class="a-project">
                        <h3>Phrase Hunter</h3>
                        <a href="https://github.com/thamasmorethelen/Treehouse_Techdegree-project-3" target="_blank" class="github-btn">
                            <i class="fab fa-github"></i>
                            View on GitHub
                        </a>
                        <p>Phrase Hunter is a console based application. The goal is for the user to complete the phrase by guessing one letter at time. The user's guesses are displayed, they are notified if they have guessed a letter before, or if they guessed incorrectly. Users lose if they guess more than five incorrect guesses.</p>
                    </div>
                    <div id="project4"class="a-project">
                        <h3>Store Inventory with SQLAlchemy</h3>
                        <a href="https://github.com/thamasmorethelen/Treehouse_Project_4_sqlAlechemy" target="_blank" class="github-btn">
                            <i class="fab fa-github"></i>
                            View on GitHub
                        </a>
                        <p>This is another console based program. Users are prompted with a menu where they can choose to view a product by their unique ID, add products, or backup the database by creating a new CSV file. The program does not allow for products with the same name. However if the user enters an existing product they are able to update the product's values. When importing a CSV file if there are multiple products with the same name, the program automatically choose the values for the product with the most recent date.</p>
                    </div>
                    <div id="project5"class="a-project">
                        <h3>Portfolio with Flask-SQLAlchemy</h3>
                        <a href="https://github.com/thamasmorethelen/Treehouse_Project_5" target="_blank" class="github-btn">
                            <i class="fab fa-github"></i>
                            View on GitHub
                        </a>
                        <p>The task of the project was to build a portfolio website using Flask and store all past projects in a SQLite database using Flask-SQLalchemy. The user can add, remove, and edit projects using an html form.</p>
                    </div>
                <section id="projects">
                    <i class="fas fa-code-branch"></i>
                    <h2><u>Personal Projects:</u></h2>
                <div id="project-list">
                    <div id="project6"class="a-project">
                        <h3>QR code Generator deployed with AWS</h3>
                        <a href="https://github.com/thamasmorethelen/qrcode" target="_blank" class="github-btn">
                            <i class="fab fa-github"></i>
                            View on GitHub
                        </a>
                        <p>This is a very straightforward QR generator. The purpose was to explore Flask more and basic deployment with AWS. You can try it <a href="http://qr-env.eba-3hzrnwpg.us-west-2.elasticbeanstalk.com/">here</a></p>
                </div>
                </section>

            </div>
        </section>
        
{% endblock %}   