{% extends 'layout.html' %}

{% block content %}
        
        <section class="header">
            <h1>Thomas Thelen</h1>
            <p>I love the elegant simplicity of Python</p>
            <img src="/static/images/Thomas_and_Pippin.jpeg" alt="Headshot of myself">
        </section>
        <section id="about">
            <h2><u>About Me:</u></h2>
            <p>
                Former <a href="https://www.urbandictionary.com/define.php?term=dirtbag">dirtbag</a> climber turned Dad and Backend Developer. Lifelong learner, Star Wars expert, Flask aficionado, SQLAlchemist. Occasionally I have a mustache.
            </p>
        </section>
        <section id="skills">
            <i class="fas fa-brands fa-python"></i>
            <h2><u>Skills:</u></h2>
            <ul>
                <li>* Python</li>
                <li>* Flask</li>
                <li>* SQLAlchemy</li>
                <li>* Git</li>
                <li>* GitHub</li>
                <li>* Flask-SQLAlchemy</li>
                <li>* Visual Studio Code</li>
                <li>* Agile Methodology</li>
            </ul>
        </section>
        <section id="projects">
            <i class="fas fa-code-branch"></i>
            <h2><u>Projects:</u></h2>
            <div id="project-list">
                    <div id=""class="a-project">
                        <h3>Number Guessing Game</h3>
                        <a href="https://github.com/Thamas21/TreeHouse_Python_Project_1" class="github-btn">
                            <i class="fab fa-github"></i>
                            View on GitHub
                        </a>
                        <p>The Number Guessing Game is a straight forward console based game. The program generates a random number within a given range. The program tells the user if their guess is too high or too low. When the user correctly guessing the number they are prompted with the option to play again. Download the project and run it in your favorite IDE!</p>
                    </div>
                    <div id="project2"class="a-project">
                        <h3>Basketball Statistic</h3>
                        <a href="https://github.com/Thamas21/Treehouse-TechDegree-Python-Project-2" class="github-btn">
                            <i class="fab fa-github"></i>
                            View on GitHub
                        </a>
                        <p>A console-based basketball team statistics tool. The user is prompted with a menu. They can choose to view statistics or quit the program. If they choose to view statistics they are asked which team they would like to view. The user can then either enter 'quit' or press enter to continue. Download the project and run it in your favorite IDE!</p>
                    </div>
                    <div id="project3"class="a-project">
                        <h3>Phrase Hunter</h3>
                        <a href="https://github.com/Thamas21/Treehouse_Techdegree-project-3" class="github-btn">
                            <i class="fab fa-github"></i>
                            View on GitHub
                        </a>
                        <p>Phrase Hunter is a console based application. The goal is for the user to complete the phrase by guessing one letter at time. The rules are essentially the same as hangman. User's guesses are displayed, they are notified if they have, guessed a letter before, or if the letter they guess is incorrect. Users lose if they guess more than five incorrect guesses. Download the project and play in your favorite IDE!</p>
                    </div>
                    <div id="project4"class="a-project">
                        <h3>Store Inventory with SQLAlchemy</h3>
                        <a href="https://github.com/Thamas21/Treehouse_Project_4_sqlAlechemy" class="github-btn">
                            <i class="fab fa-github"></i>
                            View on GitHub
                        </a>
                        <p>This is another console based program. Users are prompted with a menu where they can choose to view a product by their unique id, add products, or backup the database by creating a new CSV file. The program does not allow for products with the same name. However if the user enters an existing product they are able to update the products values. When importing a CSV file if there are multiple products with the same name the program automatically choose the values for the product with the most recent date. Try this project yourself you will need to download the files, activate a virtual environment, and install the required modules. follow the steps in the README file.</p>
                    </div>
                    <div id="project5"class="a-project">
                        <h3>Portofio with Flask-SQLAlchemy</h3>
                        <a href="https://github.com/Thamas21/Treehouse_Project_5" class="github-btn">
                            <i class="fab fa-github"></i>
                            View on GitHub
                        </a>
                        <p>The task of the project was to build a website with flask and store all past projects in a database using flask-slqalchemy. The user can add, remove, and edit projects using an html form. To try this project yourself download the files. Before running app.py you will need to ensure that you have requirements.txt installed locally. In the IDE's terminal type pip install -r requirements.txt then press enter. Once requirements.txt is installed you can run app.py copy the url from the IDEs terminal and paste it into your browser. You can also press Cmd and chick on the link</p>
                    </div>
            </div>
        </section>
        
{% endblock %}   